.container{
    /* cria uma grade */
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
     "CAB CAB CAB  "
     "rd rd rd";

     
    /* apelido para definir o grid */

    border: 1px solid rgb(128, 28, 86);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1FR 1FR  ;
    /* vai fazer uma caixa com 4 linhas e uma coluna/ rows(linhas) columns(colunas) */

}
.item1{
    grid-area: CAB;
    background-color: burlywood;
    border: 1px solid black;
}

.item2{
    grid-area: rd;
    background-color: #8cffa0;
    border: 1px solid black;
}