@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #1e2235;
  font-family: "Roboto", sans-serif;
  color: white;
}

.flex  {
  display: flex;

}

header {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0;
}

.navigation{
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}



.navigation ul {
  list-style: none;
  font-weight: 300;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
 
}

.navigation ul a {
  text-decoration: none;
  color: white;
  padding: 1em;

}

/* nav ul li {
  display: inline;
  margin-left: 20px;
} */

/* nav ul li::after {
    content: " ";
    border-left: 1px solid #fff;
}

nav ul li:last-child::after {
    content: " ";
    border: none;
} */

nav ul li a:last-child {
  margin-left: 10px;
}

.line {
    border-left: 1px solid #fff;
}

.btn-outline {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn {
    text-decoration: none;
    color: white;
    border: 1px solid #8b5cf6;
    background-color: #8b5cf6;
    padding: 10px 15px;
    border-radius: 5px;
}

.banner-header {
    height: 100%;
    padding-top: 5rem;

    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-header .left {
  width: 40%;
  min-width: 380px;
}

.banner-header .right {
    
    width: 50%;
}

div h2 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #8b5cf6;
    letter-spacing: 2px;
}

div h1 {
    margin-top: 20px;
    font-size: 2.9rem;
}

div p {
    margin: 20px 0 60px 0;
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.2rem;
}

div .mini-message {
    font-size: 0.9rem;
}

.dashboard {
  display: flex;
  gap: 10px; /*espaço entre as colunas */
  justify-content: flex-end;
  flex-wrap: wrap;

}

.block {
  background-color: #444;
  border-radius: 20px;
  padding: 20px;
}

.group-blocks{
  width: 45%;
  min-width: 250px;
}

.block-a {
  height: 300px;
  margin-bottom: 10px;
  background: linear-gradient(142deg, rgba(53,57,74,1) 0%, rgba(54,65,90,1) 68%, rgba(41,122,141,1) 100%);
}

.block-b {
  height: 120px;
  margin-bottom: 10px;
  background: linear-gradient(142deg, rgba(53,57,74,1) 0%, rgba(61,61,87,1) 68%, rgba(100,81,157,1) 100%);
}

main {
  height: 50vh;
  background-color: white;
  color: #1e2235;
  padding: 10vh 0;
}
main.products {
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
}

main .product {
  background-color: #1e2235;
  padding: 2rem;
  width: 300px;
  color: white;
  border-radius: 20px;
  box-sizing: border-box;
}